<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358886590071-j7slvmhajun05395te42jg7brebbabfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358886590071-j7slvmhajun05395te42jg7brebbabfj</string>
	<key>API_KEY</key>
	<string>AIzaSyC56ccLj5jmWOQdm5AjLno6R1pYEIQPZOM</string>
	<key>GCM_SENDER_ID</key>
	<string>358886590071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petmily.IosNativeApp</string>
	<key>PROJECT_ID</key>
	<string>rocketchatting-3d427</string>
	<key>STORAGE_BUCKET</key>
	<string>rocketchatting-3d427.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358886590071:ios:9d74f7cbd584a8c42de872</string>
</dict>
</plist>